.post{

  h3{
    color: $black;
  }
}

.post-nav{
  @extend %center;
  text-align: center;
}


.post-nav .btn{
  @include button-style-shadow($light-gold, $white, true, $gold);
  margin: 2px;
  letter-spacing: .1rem;

  &:hover,
  &:focus{
    @include button-style-shadow($gold, $white, true, $dark-gold);
  }

  &:active{
    @include button-style-shadow($gold, $white, false);
  }

  &[disabled],
  &.disabled{
    @include button-style-shadow($tan, $light-tan, false);
  }
}

.post-header{
  margin-top: $space-sm;
  margin-bottom: $space-lg;
}

.post-title,
.post-date,
.post-permalink{
  text-align: center;
  color: $dark-brown;
}

.post-date{
  font-style: italic;
  font-weight: $sans-regular;
  font-size: $font-size-xsm;
  margin-top: $space-sm;
}

.post-description{
  @extend %center;
  max-width: $max-width-sm;
  margin-top: $space-lg;
  border-top: 6px solid $light-gold;
  border-left: 6px solid $light-gold;
  border-bottom: 6px solid $gold;
  border-right: 6px solid $gold;
  border-radius: 0.5rem;
  min-height: 4.5rem + $space-xxlg;
}

.post-description-text{
  padding: $space-sm $space-md;

  //drop caps
  p:first-of-type:first-letter {
    float: left;
    color: $light-gold;
    text-shadow: 1px 1px 1px $gold;
    font-family: $font-family-Rome;
    font-style: normal;
    font-size: 4.75em;
    line-height: 70px;
    padding-top: $space-xsm;
    padding-right: $space-sm;
    padding-left: $space-xsm;
    text-transform: capitalize;
  }
  a {
    @extend .link;
  }
}

.post-tags{
  margin: $space-reg 0;
  padding: 0 $space-md;
}


.post-content{
  position: relative;
}

.post-image{
  position: absolute;
  height: 100%;
  opacity: 0;
}


//SHARING POSTS
.post-share{
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  margin-bottom: $space-xlg;
}

.share-permalink,
.share-image{
  @include flex(0 1 auto);
  text-align: center;
  margin: 0px $space-reg;
}

.post-share-title{
  margin-bottom: 0px;
  font-size: $font-size-sm;
  font-weight: $sans-regular;
  font-style: italic;
  color: $brown;
}

.post-share-url{
  @include word-wrap(break-word);
  margin-top: $space-sm;
}

input.post-share-url{
  font-size: $font-size-xsm;
  padding: $space-xsm $space-sm;
}

.btn-copy{
  @include button-style(transparent, $brown, true, $brown);
  padding: $space-xsm $space-sm;
  border-radius: .25rem;
  font-size: $font-size-xsm;
  font-family: $font-family-sans;
  font-weight: $sans-regular;
  text-transform: uppercase;

  &:hover,
  &:focus{
    @include button-style($brown, antiquewhite);
  }

  &:active{
    @include button-style($dark-brown);
  }
}

@media (max-width:#{$media-md}){
  .post{
    padding: $space-reg $space-reg;
    margin: $space-reg 0px;
  }

}
