---
layout: default
---


<article class="post" >
  <section class="grid-container grid-container-Urbino">
    <ul class="flex-container wrap gallery">
      {% assign posts = site.posts | where:'categories', 'Urbino' %}
      {% for post in posts reversed %}
        {% include gallery-home.html %}
      {% endfor %}
    </ul>
  </section>
  <section class="grid-container grid-container-Florence">
    <ul class="flex-container wrap gallery">
      {% assign posts = site.posts | where:'categories', 'Florence' %}
      {% for post in posts reversed %}
        {% include gallery-home.html %}
      {% endfor %}
    </ul>
  </section>
  <section class="grid-container grid-container-Rome">
    <ul class="flex-container wrap gallery">
      {% assign posts = site.posts | where:'categories', 'Rome' %}
      {% for post in posts reversed %}
        {% include gallery-home.html %}
      {% endfor %}
    </ul>
  </section>
</article>
