$light-tan: #fbecd9;
$tan: #e4d1ba;

$brown: #8b5e3c;
$dark-brown: #653c1d;

$light-gold: #F2BD4B;
$gold: #E0A236;
$dark-gold: #AD7D29;

$black: #000000;

$white: #ffffff;

$Urbino-200: #C5C8B7;
$Urbino-300: #999D8A;
$Urbino-500: #5D6051;
$Urbino-700: #35352E;

$Florence-200: #D3B5B9;
$Florence-300: #A5425E;
$Florence-500: #800025;
$Florence-700: #370010;

$Rome-200: #B5C3D3;
$Rome-300: #477BB2;
$Rome-500: #005BA3;
$Rome-700: #011C46;

$charcoal-200: #A0A0A0;
$charcoal-300: #646464;
$charcoal-500: #3A3A3A;
$charcoal-700: #141414;
