$light-tan: #fbecd9;
$tan: #e4d1ba;

$brown: #8b5e3c;
$dark-brown: #653c1d;

$light-gold: #F2BD4B;
$gold: #E0A236;
$dark-gold: #AD7D29;

$black: #000000;

$white: #ffffff;

$Urbino-200: #DCEAD0;
$Urbino-300: #C4E5A5;
$Urbino-500: #518022;
$Urbino-700: #283E13;
$Urbino-900: #0B1602;

%gradient-Urbino {
  background-color: $Urbino-900;
  background-image: radial-gradient(at 60%, $Urbino-500, $Urbino-900 65%);
}

$Florence-200: #E7A9B6;
$Florence-300: #F25173;
$Florence-500: #A90023;
$Florence-700: #5B0013;
$Florence-900: #32000A;

%gradient-Florence {
  background-color: $Florence-900;
  background-image: radial-gradient(at 60%, $Florence-500, $Florence-900 65%);
}

$Rome-200: #D1E2F7;
$Rome-300: #6FA4E1;
$Rome-500: #003A9E;
$Rome-700: #01124E;
$Rome-900: #000824;

%gradient-Rome {
  background-color: $Rome-900;
  background-image: radial-gradient(at 60%, $Rome-500, $Rome-900 65%);
}

$charcoal-200: #C4C4C4;
$charcoal-300: #969696;
$charcoal-500: #696969;
$charchoal-700: #3A3A3A;
$charcoal-900: #141414;
