$font-family-sans: 'Open Sans', Helvetica, Arial, sans-serif;
$sans-light: 300;
$sans-regular: 400;
$sans-semibold: 600;
$sans-bold: 700;

$font-family-gothic: 'Pirata One', Georgia, Times New Roman, serif;

$font-family-drop-cap: 'UnifrakturMaguntia', Georgia, Times New Roman, serif;

$font-family-serif: 'Droid Serif', Georgia, Times New Roman, serif;
$serif-italic: 400i;
$serif-bold: 700;


$font-size-xsm: .75rem !default;
$font-size-sm: 1rem !default;
$font-size-reg: 1.125rem !default;
$font-size-md: 1.25rem !default;
$font-size-lg: 1.5rem !default;
$font-size-xlg: 2rem !default;
$font-size-xxlg: 2.5rem !default;
$font-size-xxxlg: 3rem !default;
