$space-xsm: .25rem !default; //4px
$space-sm: .5rem !default; //8px
$space-reg: 1rem !default; //16px
$space-md: 1.25rem !default; //20px
$space-lg: 1.5rem !default; //24px
$space-xlg: 2rem !default; //32px
$space-xxlg: 4rem !default; //64px
