<footer class="site-footer">
  <div class="footer-description">
    <p>{{ site.description }}</p>
  </div>
  <div class="footer-contact">
    <span>Contact us at: </span><a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
  <div class="footer-links">
    <span>Some Other Funny People:</span>
    <ul>
      <li><a href="http://adventuresoftheholyghost.tumblr.com" target="_blank">Adventures of the Holy Ghost</a></li>
      <li><a href="http://www.harkavagrant.com" target="_blank">Hark! A Vagrant</a></li>
      <li><a href="http://www.gocomics.com/sarahs-scribbles/" target="_blank">Sarah Scribbles</a></li>
      <li><a href="http://the-toast.net/series/two-monks-inventing-things/" target="_blank">The Toast</a></li>
    </ul>
  </div>
  <div class="footer-verse">
    <p class="bible-verse">
      "A merry heart doeth good like a medicine: but a broken spirit drieth the bones." <span class="verse-reference">Prov. 17:22</span>
    </p>
  </div>
</footer>
