<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!-- <script>

  var heroHeadline = document.getElementById("headline");

window.onscroll = function() {headlineFunction()};

function headlineFunction() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
        heroHeadline.classList.add("opacity");
      }
        else if (document.body.scrollTop < 10 || document.documentElement.scrollTop < 10) {

          heroHeadline.classList.remove("opacity");

    }
}
</script> -->
