<script src="https://code.jquery.com/jquery-1.10.2.js">

</script>

<script>

  var heroTitle = document.getElementById("painting-title");

window.onscroll = function() {titleFunction()};

function titleFunction() {
    if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
        heroTitle.classList.add("opacity");
      }
        else if (document.body.scrollTop < 10 || document.documentElement.scrollTop < 10) {

          heroTitle.classList.remove("opacity");

    }
}
</script>
