.grid-container {
  padding: 3rem 0;
}

.grid-container-urbino {
  background: $Urbino-700;
}

.flex-container {
  padding: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  max-width: 96vw;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .flex-container {
    max-width: 95vw;
  }
}

@media only screen and (min-width: 1400px) {
  .flex-container {
    max-width: 1400px;
  }
}

.flex-item {
  width: 240px;
  margin: 0.5rem;
}

.flex-item img {
  height: 100%;
  width: auto;
}

.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.img-frame-container {
  height: 300px;
}

.gallery {

li {
  a {
    text-align: center;

    .Urbino-year, .Florence-year, .Rome-year {
      display: block;
      font-family: $font-family-sans;
      color: $Urbino-500;
      font-size: .6875rem;
      margin: 1rem 0 -.25rem 0;
      letter-spacing: .125rem;
    }
    .Urbino, .Florence, .Rome {
      display: block;
      font-family: $font-family-serif;
      color: $Urbino-500;
      font-size: $font-size-sm;
      margin: 0;
      transition: color .5s;
    }

    img {
      filter: drop-shadow(0 10px 3px rgba(0,0,0,.6));
      transition: filter .25s;
      }

    &:hover {
      .Urbino, .Urbino-year {
        color: $Urbino-300;
      }
      .Florence, .Florence-year {
        color: $Florence-300;
      }
      .Rome, .Rome-year {
        color: $Rome-300;
      }
      img {
        filter: drop-shadow(0 10px 5px rgba(0,0,0,.7));
        }
      }
    }
  }
}
