body {
  color: $ink-base;
}

h1,
h2,
h3 {
  font-family: $font-family-headlines;
  font-weight: normal;
}

h4,
h5,
h6 {
  font-family: $font-family-serif;
}

h1 {
  font-size: $font-size-xxxlg;
}

h2 {
  font-size: $font-size-xxlg;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-xxlg;
  line-height: 1.2;
}

body {
  font-family: $font-family-serif;
  font-size: $font-size-reg;
  line-height: 1.8;
  color: $ink-base;
}

.display-1 {
  font-family: $font-family-headlines;
  font-size: $font-size-display-1;
  line-height: $line-height-display-1;
}

.display-2 {
  font-family: $font-family-headlines;
  font-size: $font-size-display-2;
  line-height: $line-height-display-2;
}

.display-3 {
  font-family: $font-family-headlines;
  font-size: $font-size-display-3;
  line-height: $line-height-display-3;
}

.title-1 {
  font-family: $font-family-serif;
  font-size: $font-size-title-1;
  line-height: $line-height-title-1;
}

.title-2 {
  font-family: $font-family-serif;
  font-size: $font-size-title-2;
  line-height: $line-height-title-2;
}

.subtitle-1 {
  font-family: $font-family-sans;
  font-size: $font-size-subtitle-1;
  line-height: $line-height-subtitle-1;
}

.body-1 {
  font-family: $font-family-serif;
  font-size: $font-size-body-1;
  line-height: $line-height-body-1;
}

.body-2 {
  font-family: $font-family-serif;
  font-size: $font-size-body-2;
  line-height: $line-height-body-2;
}

.label {
  font-family: $font-family-sans;
  font-size: $font-size-label;
  line-height: $line-height-label;
}

.metadata {
  font-family: $font-family-sans;
  font-size: $font-size-metadata;
  line-height: $line-height-metadata;
}

@media (max-width: #{$media-md}) {
  h1 {
    font-size: $font-size-xxlg;
  }

  h2 {
    font-size: $font-size-lg;
  }

  h3 {
    font-size: $font-size-xlg;
  }

  body,
  span,
  p,
  a {
    font-size: $font-size-sm;
    line-height: 1.6;
  }
}
