---
layout: default
---
<!-- {% include post-nav.html %} -->

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <!-- <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign d = page.date | date: "%-d" %}
        {% assign m = page.date | date: "%-m" %}
        The {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %} day of the {% case m %}{% when '1' or '21' or '31' %}{{ m }}st{% when '2' or '22' %}{{ m }}nd{% when '3' or '23' %}{{ m }}rd{% else %}{{ m }}th{% endcase %} month in the year of our Lord {{ page.date | date: "%Y" }}
      </time>
    </p>
  </header> -->
<main class="{{ page.categories }}">
  <section class="post-hero">
    <div id="painting-title">
      <h1 class="display-2"> {{page.title}}</h1>
      <span class="post-title-year"> {{ page.year }} </span>
    </div>
    <div class="hero-gradient">
    </div>
    <img src="{{site.baseurl}}/images/{{page.image_folder_hero}}/{{page.hero_image}}"/>
  </section>

  <section class="pulled-fact" style="background: ${{page.categories}}-700;">
    <h2> {{ page.pulled_fact }}</h2>
  </section>

  <section class="post-grid">
    <div class="description">
      <article body-1>
        <div class="body-1">
          {{ content }}
        </div>
      </article>
    </div>

    <div class="primary-image">
      <img src="{{site.baseurl}}/images/{{page.image_folder_primary}}/{{page.primary_image}}" />
    </div>
  </section>

  <section class="time-period">

  </section>
</main>
{% include post-nav.html %}
